# Core functionality - changes here should be rare!
/src/app.py                   @Without0You
/src/backend/database.py      @Without0You
/src/backend/routers/auth.py  @Without0You

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Without0You
